body{
	background-color:#f8f8f8;	
}
.heading{
	font-family:sans-serif;
	text-align:center;
	
}
.book-library{
	background-color:#ffffff;
	padding:0px;
	margin:0px auto;
	display:flex;
	flex-direction:column;
}

.book{
	margin:0px;
	font-family:sans-serif;
	text-align:center;
	border-bottom:10px solid lightgray;
}

.book-title{
	padding-left:10px;
	margin:0px;
	font-size:20px;
	text-align:left;
}

.book img{
	padding:20px;
	display:block;
	margin:0px auto;
}

.author{
	padding-left:10px;
	text-align:left;
	font-size:15px;
	color:#777777;
}

.price-block{
	background-color:#2ecc71;
	margin:20px auto;
	border:none;
	padding:10px;
	width:90%;
	color:whitesmoke;
}

.price-block:hover{
	color:black;
}